.home-container {
  width: 100vw;
  min-height: 90vh;
  border-radius: 1px solid red;
  background-image: url("../../../Images/Untitled-1-Recovered2.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

.header-container {
  display: flex;
  justify-content: center;
}
