.home-container {
  width: 100vw;
  min-height: auto;
  background-image: url("../../../Images/Untitled-1-Recovered2.jpg");
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-container {
  display: flex;
  justify-content: center;
}
